nav {
    /* position: fixed; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    /* background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 300;
    padding: 16px 32px; */
}
img {
    max-height: 50px;
}

/* ul and li classes */
nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 50px;
  }

  nav ul li a{
    color: var(--color-primary);
    font-weight: 800;
    font-size: 16px;
    text-decoration: none;
  }